<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub - Drinks</title>
    <style type="text/css">
        body {
        color: rgb(254, 98, 98);
        background-color: rgb(173, 237, 255);
        }
        span {
            color: darkolivegreen;
        }
        img {
            max-width: 50vw;
            max-height: 50vh;
        }
    </style>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%=drink.name.charAt(0).toUpperCase() + drink.name.slice(1)  %></h2>
    <img src="<%=drink.image%>">
    <h3>Price: $<%= drink.price %></h3>
    
    <a href="/menu">Back</a>
    
</body>
</html>