<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Pub</title>
    <style type="text/css">
        body {
        color: rgb(255, 223, 175);
        background-color: rgb(49, 65, 78);
        }
    </style>
</head>
<h1>Welcome to gitPub</h1>
<body>
    
</body>
</html>